

<div class="container-fluid">
  <img id="volunteerHands" src="/images/volunteer.png" alt="volunteer image">
  <h1> Bridging the gap between Philanthropy and Effieciency</h1>
</div>
<h3>Just A Few of Our Partners</h3>

<div class="container-fluid">
  <img src="/images/africa.png" alt="volunteer image">
  <img src="/images/common.png" alt="volunteer image">
  <img src="/images/food.jpeg" alt="volunteer image">
  <img src="/images/foodTucson.png" alt="volunteer image">
  <img src="/images/habitat.png" alt="volunteer image">
  <img src="/images/humane.png" alt="volunteer image">
  <img src="/images/pacc.png" alt="volunteer image">
  <img src="/images/pride.jpeg" alt="volunteer image">
  <img src="/images/fire.png" alt="volunteer image">
  <img src="/images/books.jpeg" alt="volunteer image">
</div>
